<launch>
     <param name="use_sim_time=true" value="true" />
  <node pkg="stage_ros" type="stageros" name="simulator" args="$(find lab3)/worlds/manyDotsNoisyOdom.world">
    <param name="scan" value="base_scan"/>
  </node>
  <node pkg="lab3" type="lab3.py" name="lab3" output="screen" />
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" />
  <node pkg="rviz" type="rviz" name="rviz" />
</launch>
